<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">BruvStocks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if loggedIn %}
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addstocks">Add Stocks</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link disabled">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Add Stocks</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
    </ul>
          {% if user == '' %}
            <a href="/login"><strong><font color="white">Login</font></strong></a><font color="white"> &nbsp | &nbsp </font> <a href="/signup"><strong><font color="white">Sign Up</font></strong></a>
          {% else %}
            <strong><font color="white">Signed in as {{user.upper()}} - <a style="color:white" href='/logout'>Click here to log out</a></font></strong>
          {% endif %}
  </div>
</nav>
