{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1>About BruvStocks</h1>
  <hr class="my-4">
  <p class="lead">
    This website was created in 2018 for Chester Burns' Software Design &
    Development HSC Major Work.  It aims to solve the problem of the increasing
    complexity of making smart investment decisions.  This solution aims to
    solve this problem by refining the immense quantity of data on each stock,
    and presenting it in a more readable, intuitive and essentially simpler
    environment, attracting novice investors to use this product to educate
    and build their knowledge of the stock market and making smart investment
    decisions.<br><br>

    DATA RETRIEVED FROM IEXTRADING.COM & ALPHAVANTAGE.CO<br>CHARTS EMBEDDED FROM TRADINGVIEW.COM
  </p>
</div>
{% endblock %}
