{% extends 'layout.html' %}
{% block title %}<h1>ADD STOCKS</h1>{% endblock %}
{% block body %}
<form method='POST'>
  <p style='color:red'>{{err}}</p>
  <input name="stockSearch" class="form-control mr-sm-2" type="text" placeholder="Enter stock code and press enter to display stock data">
</form>
<div class="jumbotron">
  <h2 class="text-center">Recommended Stocks</h2>

  <hr class="my-4">
  <font size='5'><strong>Rank By</strong></font><br>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='/addstocks?rank=compGrowth_day';"> Day Growth v Index
    </label>
    <label class="btn btn-primary">
      <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='/addstocks?rank=compGrowth_year';"> Year to date Growth v Index
    </label>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">RANK</th>
        <th scope="col">COMPANY</th>
        <th scope="col">PRICE</th>
        <th scope="col">% CHANGE</th>
        <th scope="col">52WK RANGE</th>
      </tr>
    </thead>

      <tbody>
        {% for stock in rcmd %}
          <tr class="table-active">
            <th scope="row">{{stock.rank}}</td>
            <th scope="row"><a href={{stock.profileLink}}>{{stock.name}} ({{stock.symbol}})</a></th>
            <td>${{stock.price}}</td>
            {% if stock.change > 0 %}
              <td style="color:green">{{stock.changePercent}}%</td>
            {% elif stock.change < 0 %}
              <td style="color:red">{{stock.changePercent}}%</td>
            {% else %}
              <td>{{stock.changePercent}}%</td>
            {% endif %}

            <td>${{stock.yearLow}}  -  ${{stock.yearHigh}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
