{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron">
  <h1 style="text-align:center">How to use BruvStocks</h1>
  <hr style="display:block; height:1px; border:0; border-top:1px solid; margin:1em 0; padding:0">
  <h3>DEFINITIONS</h3>
  <p class="lead">
    BruvStocks is a stock watchlist/ portfolio website application.  While it
    aims to simplify the process of investing in the stock market, the user
    should familiarise themselves with the following terminology/ definitions.
    (Definitions by <a href="https://www.investopedia.com/">Investopedia</a>) <br>
  </p>
  <p>
    <strong>Stock</strong> - A stock (also known as "shares" and "equity") is a
    type of security that signifies ownership in a corporation and represents
    a claim on part of the corporation's assets and earnings.
     - 'Price' refers to the cost of purchasing one share in the company
     - 'Change' referrs to the either exact monetary or percentage change
     of a stock price over a given period of time
    <br><br>
    <strong>Open</strong> - The price at starting period of trading
    <br><br>
    <strong>Close</strong> - The price at the end of a trading session in
    financial markets.
    <br><br>
    <strong>Range</strong> - The range of prices of the stock within a given
    time frame
    <br><br>
    <strong>Volume</strong> - The number of shares traded in a security or an
    entire market during a given period of time.  It is simply the amount of
    shares that trade hands from sellers to buyers as a measure of activity.
    <br><br>
    <strong>Market Cap</strong> - The total dollar value of a company's
    oustanding shares
    <br><br>
    <strong>Price-Earnings Ratio (P/E Ratio)</strong> - The ratio for valuing
    a company that measures its current share price relative to its per-share
    earnings.
    <br><br>
    <strong>Dividend Yield</strong> - A dividend expressed as a percentage of a
    current share price.
  </p>

  <hr style="display:block; height:1px; border:0; border-top:1px solid; margin:1em 0; padding:0">
  <h3>FEATURES</h3>
  <p class="lead">Portfolio</p>
  <p>
    Everything is pretty self-explanatory, all necessary definitions are above.
    Click on a company name to open its stock profile.
  </p>
  <p class="lead">Add Stocks</p>
  <p>
    The search bar will open a stock profile page if a valid stock code is
    inputted after the user presses enter.
    <br>
    The 'rank by' buttons have 2 options, day growth will rank the stocks based
    off their most recent day performance, whereas year to date growth will rank
    the stocks based off their performance from the beginning of the year.
  </p>
  <p class="lead">Stock Profile</p>
  <p>
    You are free to analyse the stock's parameters and decide whether or not
    you'd like to add the stock to your portfolio by pressing the 'add to portfolio'
    button.  If not you can navigate out by using the navigation bar up the top.
  </p>
  <br>
  <p style="text-align:center">If you require further assistance with the usage
    of this web application, please refer to the user manual, which you can find
    on the <a href="http://scotsict.com">scotsict forums</a>.
</div>
{% endblock %}
