{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-1">Welcome to BruvStocks</h1>
  <table style="width:100%">
    <td>
      {% if loggedIn %}
        <a href="/logout"><button type="button" class="btn btn-outline-success btn-lg">Logout</button></a>
      {% else %}
        <a href="/login"><button type="button" class="btn btn-outline-warning btn-lg" style="margin-right:7px; width:210px">Login</button></a>
        <a href="/signup"><button type="button" class="btn btn-outline-success btn-lg" style="margin-left:7px; width:210px">Sign Up</button></a>
        <br><a href="/help"><button type="button" class="btn btn-outline-secondary btn-lg" style="margin-top:5px; width:140px">Help</button></a>
      {% endif %}
    </td>
</div>
{% endblock %}
