{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
  <h1 class="display-1">Welcome to BruvStocks</h1>

  <div class="row">
    <div class="col-sm">
      <form method='POST'>
        <div class="form-group">
          <small class="form-text text-muted">Usernames are not case-sensitive</small>
          <input class="form-control" name="username" placeholder="Username" placeholder="Username" style="width:500px; margin-left:auto; margin-right:auto">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" style="width:500px; margin-left:auto; margin-right:auto">
        </div>

        {% if error != None %}
          <p style="color:red">{{ error }}</p>
        {% endif %}
        <input type="submit" class="btn btn-outline-primary btn-lg text-left" value="Login" style="margin-right:15px; padding-left:30px; padding-right:30px">
      </form>
    </div>
  </div>

</div>
{% endblock %}
