{% extends 'layout.html' %}
{% block title %}<h1>{{user.upper()}}'S PORTFOLIO</h1>{% endblock %}
{% block body %}


<div class="jumbotron text-center">
<table class="table">
  <thead>
    <tr>
      <th scope="col">COMPANY</th>
      <th scope="col">PRICE</th>
      <th scope="col">% CHANGE</th>
      <th scope="col">CHANGE</th>
      <th scope="col">DAY RANGE</th>
      <th scope="col">52WK RANGE</th>
    </tr>
  </thead>
  <tbody>

    {% for stock in ptflo %}
    <tr class="table-active">
      <th scope="row"><a href={{stock.profileLink}}>{{stock.name}} ({{stock.symbol}})</a></th>
      <td>${{stock.price}}</td>
      {% if stock.change > 0 %}
        <td style="color:green">{{stock.changePercent}}%</td>
        <td style="color:green">+ {{stock.change}}</td>
      {% elif stock.change < 0 %}
      <td style="color:red">{{stock.changePercent}}%</td>
      <td style="color:red">- {{stock.change}}</td>
      {% else %}
      <td>{{stock.changePercent}}%</td>
      <td>= {{stock.change}}</td>
      {% endif %}

      {% if stock.low == none %}
        <td>N/A</td>
      {% else %}
        <td>${{stock.low}}  -  ${{stock.high}}</td>
      {% endif %}
      <td>${{stock.yearLow}}  -  ${{stock.yearHigh}}</td>
      <td><a href='/remove?stock={{stock.symbol}}' style="color:indianred">Remove {{stock.symbol}}</a></td>
    </tr>
    {% endfor %}


  </tbody>
</table>
</div>

{% endblock %}
