{% extends 'layout.html' %}
{% block body %}

<div class="jumbotron">

  <div class="row">
    <div class="col-sm text-right" style="padding-right:30px">
    </div>
    <div class="col-xs-4">
      <h1 class="text-center">{{stk.name}} ({{stk.symbol}})</h1>
    </div>
    <div class="col-sm" style="padding-top:7px; padding-left:30px">
      {% if stk.symbol is inStockList %}
        <button type="button" class="btn btn-outline-success" disabled>Already in Portfolio</button>
      {% else %}
        <a href="/add?stock={{stk.symbol}}"><button type="button" class="btn btn-outline-success">Add to Portfolio</button></a>
      {% endif %}
    </div>
  </div>
  <hr>
  <p class="text-center">DATAPOINTS RETRIEVED FROM IEXTRADING.COM, CORRECT AS OF {{stk.updateTime}}</p>
  <div class="row">
    <div class="col-sm">
      <h3>Company Description</h3>
      <p>{{stk.description}}</p>
    </div>
    <div class="col-sm text-right">
      <p>
        <br>
        {{stk.sector}}<strong style="font-size:20px"> | Sector</strong><br>
        {{stk.industry}}<strong style="font-size:20px"> | Industry</strong><br>
        {{stk.ceo}}<strong style="font-size:20px"> | CEO</strong><br>
        <a href={{stk.website}} target="_blank">{{stk.website}}</a><strong style="font-size:20px"> | Website</strong>
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
        <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div id="tradingview_f2599"></div>
        <div class="tradingview-widget-copyright"><a href={{stk.chartLink}} rel="noopener" target="_blank"><span class="blue-text">{{stk.symbol}} chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "width": 600,
        "height": 400,
        "symbol": "{{stk.chartSym}}",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "Dark",
        "style": "3",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_f2599"
      }
        );
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm text-center">
          <p><br><br><font size="4">CURRENT PRICE</font><br>
            {% if stk.change > 0 %}
              <font size="5" style="color:green">${{stk.price}}<br>${{stk.change}} | {{stk.changePercent}}%</font>
            {% elif stk.change < 0 %}
              <font size="5" style="color:red">${{stk.price}}<br>${{stk.change}} | {{stk.changePercent}}%</font>
            {% else %}
              <font size="5">${{stk.price}}<br> $0.00 | 0.00%</font>
            {% endif %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <p>
            <font size="4">PREV. CLOSE</font><br>
            <font color="lightgray" size="5">${{stk.prevClose}}</font>
          </p>
        </div>
        <div class="col-sm text-center">
          <p>
            <font size="4">OPEN</font><br>
            <font color="lightgray" size="5">${{stk.open}}</font>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm text-center">
          <p><font size="4">DAY RANGE</font><br>
            {% if stk.low == none and stk.high == none %}
              <font color="lightgray" size="5">MARKET CLOSED</font>
            {% else %}
              <font color="lightgray" size="5">${{stk.low}} - ${{stk.high}}</font>
            {% endif %}
          </p>
        </div>
        <div class="col-sm text-center">
          <p>
            <font size="4">52 WEEK RANGE</font><br>
            <font color="lightgray" size="5">${{stk.yearLow}} - ${{stk.yearHigh}}</font>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <p><font size="4">VOLUME</font><br>
      <font size="5" color="lightgray">{{stk.volume}}</font></p>
    </div>
    <div class="col-sm text-center">
      <p><font size="4">AVG. VOLUME</font><br>
      <font size="5" color="lightgray">{{stk.avgVolume}}</font></p>
    </div>
    <div class="col-sm text-center">
      <p><font size="4">MARKET CAP</font><br>
      <font size="5" color="lightgray">${{stk.mktCap}}</font></p>
    </div>
    <div class="col-sm text-center">
      <p><font size="4">P/E RATIO</font><br>
      <font size="5" color="lightgray">{{stk.peRatio}}</font></p>
    </div>
    <div class="col-sm text-center">
      <p><font size="4">DIVIDEND YIELD</font><br>
      <font size="5" color="lightgray">{{stk.divYield}}%</font></p>
    </div>
  </div>


</div>
{% endblock %}
